.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.font-xxs {
  font-size: var(--text-xxs);
}
.font-smd {
  font-size: var(--text-smd);
}
.mt-11 {
  margin-top: var(--spacing-11);
}

.bg-gradient-green {
  background: linear-gradient(125deg, #78e084 -14.45%, #06bb95 60.89%);
}
.input {
  --input-color: var(--color-border-3);

  &:focus,
  &:focus-within {
    outline: none;
  }
}
.input-error {
  --input-color: var(--color-error);
  &,
  &:focus,
  &:focus-within {
    --input-color: var(--color-error);
  }
}

/*
@apply
주로 Tailwind CSS와 같은 유틸리티 우선(Utility-first) 프레임워크에서 사용하는 문구로, HTML에 작성하던 유틸리티 클래스들을 CSS 파일 안으로 가져와서 그대로 입히고 싶을 때 사용
쉽게 말해, "HTML에 길게 늘어놓은 스타일 보따리를 CSS 클래스 하나로 묶어주는 도구"

<button class="py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700">
  버튼
</button>

.btn-primary {
  @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md;
  @apply hover:bg-blue-700 transition duration-300;
}

*/

input,
button,
label,
.input {
  @apply outline-none focus:outline-none;
}
input:focus,
button:focus,
label:focus,
.input:focus {
  @apply outline-none focus:outline-none;
}


/* 커스텀 버튼 참고용 */
.btn-card {
  --btn-color: var(--color-card);
  background-color: var(--color-card);
  color: var(--color-card-content);
  border-color: var(--color-card);

  @apply transition-colors duration-200 ease-in-out;

  &:hover {
    background-color: var(--color-card-hover);
    border-color: var(--color-card-hover);
  }

  &:focus-visible {
    background-color: var(--color-card-focus);
    border-color: var(--color-card-focus);
    outline: none;
    /* outline: 2px solid var(--color-card-focus); */
    box-shadow: 0 0 0 2px var(--color-card) / 0.5;
  }

  &:active {
    background-color: var(--color-card-active);
    border-color: var(--color-card-active);
    transition: none;
  }
}

.btn-card-accent {
  --btn-color: var(--color-card-accent);
  background-color: var(--color-card-accent);
  color: var(--color-card-accent-content);
  border-color: var(--color-card-accent);

  @apply transition-colors duration-200 ease-in-out;

  &:hover {
    background-color: var(--color-card-accent-hover);
    border-color: var(--color-card-accent-hover);
  }

  &:focus-visible {
    background-color: var(--color-card-accent-focus);
    border-color: var(--color-card-accent-focus);
    outline: none;
    /* outline: 2px solid var(--color-card-accent-focus); */
    box-shadow: 0 0 0 2px var(--color-card-accent) / 0.5;
  }

  &:active {
    background-color: var(--color-card-accent-active);
    border-color: var(--color-card-accent-active);
    transition: none;
  }
}

/* btn disable 상태 정의 */
.btn.btn-disabled.btn-outline {
  border: 1px solid var(--color-primary);
  background-color: transparent;
}

.btn.btn-disabled {
  border: none;
}
